

$color-white: #fff;
$color-black: #000;
$color-red: #ff0264;
$color-blue: #004EFF;
$color-blue-original-dark: #1A5099;
$color-blue-original-light: #4BA2F2;
$color-blue-black: #171F24;
$color-blue-black-darkest: #11161A;
$color-blue-dark: rgb(17, 23, 27);
$color-teal: #03a2ff;
$color-teal-light:#0ea7ff;
$color-teal-dark:#0599ee;

/*
$color-teal: rgb(6, 89, 214);
$color-teal-light:rgb(11, 98, 228);
$color-teal-dark:rgb(5, 83, 201);
*/

$color-yellow: #fce76c;
$color-orange: #F76900;
$color-transparent: transparent;

$color-background-almost-white:#fefefe;
$color-background-off-white: #f1f5fa;
$color-background-off-white-light: #fafafa;
$color-background-dark: #252b36;
$color-background-less-dark: #2d323b;
$color-background-super-dark: rgb(18, 25, 32);

$color-text-dark: #333;
$color-text-white: #fcfcfc;
$color-text-blue: #004EFF;
$color-text-gray: #788187;
$color-text-gray-light: #A6B2BA;
$color-text-teal: $color-teal;
$color-text-red: $color-red;

$color-border-light: #eee;
$color-border-less-light: #e5e5e5;
$color-border-light-lightest: #f6f6f6;
$color-border-dark: #232F38;
$color-border-dark-lightest: #2B3A45;

$font-primary: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$alert-color: $color-red;
