form.search-input {

    height: 42px;

    svg.search-input__icon {
        position: absolute;
        pointer-events: none;
        @include themify($themes) {
            stroke: themed('colorAccentReverse');
        }
        stroke-width: 1.2;
        fill: none;
    }

    input.search-input__inner {
        outline: none;
        padding: 9px 10px 11px 32px;
        border-radius: 25pc;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        background: transparent;
        box-shadow: none;
        width: 42px;
        height: 42px;
        color: transparent;
        cursor: pointer;
        font-family: $font-primary;
<<<<<<< HEAD
        @include themify($themes) {
            border: 1px solid rgba(202, 202, 202, 0.6);
        }
=======
        border: 1px solid rgba(202, 202, 202, 0.6);
        
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
        &::placeholder {
            color: transparent
        }
        &:hover {
            background-color: $color-teal;
        }
        &:focus {
            width: 180px;
            @include themify($themes) {
                border: themed('moduleBackgroundColor');
            }
            border-color: $color-teal;
<<<<<<< HEAD
            box-shadow: 0 0 5px rgba(109,207,246,.5);
=======
            // box-shadow: 0 0 5px rgba(109,207,246,.5);
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
            padding-left: 2.5rem;
            @include themify($themes) {
                color: themed('textColorPrimary');
            }
            background-color: transparent;
            cursor: auto;
            &::placeholder {
                color: $color-blue-dark;
                @include themify($themes) {
<<<<<<< HEAD
                    color: themed('textColorSecondary');
=======
                    // color: themed('textColorSecondary');
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
                }
            }
        }
    }

    /* small */
    input.search-input__inner.search-input__inner--small {

    }
}

form.search-input--expanded {

    height: 42px;

    svg.search-input__icon {
        position: absolute;
        pointer-events: none;
        @include themify($themes) {
            stroke: themed('colorAccentReverse');
        }
        stroke-width: 1.2;
        fill: none;
    }

    &:hover {
        svg.search-input__icon {
<<<<<<< HEAD
            stroke: $color-white;
=======
            // stroke: $color-white;
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
        }
    }

    input.search-input__inner {
        outline: none;
        padding: 9px 10px 11px 32px;
        border-radius: 25pc;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        background: transparent;
        height: 42px;
        color: transparent;
        font-family: $font-primary;
        width: 100%;
<<<<<<< HEAD
        border-color: $color-teal;
        box-shadow: 0 0 5px rgba(109,207,246,.5);
        padding-left: 2.5rem;
        cursor: auto;
        @include themify($themes) {
            border: 1px solid rgba(202, 202, 202, 0.6);
        }
        @include themify($themes) {
            border: themed('moduleBackgroundColor');
        }
=======
        
        border-color: $color-teal;
        // box-shadow: 0 0 5px rgba(109,207,246,.5);
        padding-left: 2.5rem;
        cursor: auto;
        border: 1px solid rgba(202, 202, 202, 0.6);
        

>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
        @include themify($themes) {
            color: themed('textColorPrimary');
        }
        &:hover {
<<<<<<< HEAD
            background-color: $color-teal;
            color: $color-white;
=======
            // background-color: $color-teal;
            // color: $color-white;
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
        }
        &::placeholder {
            @include themify($themes) {
                color: themed('textColorSecondary');
            }
        }
        &:hover::placeholder {
<<<<<<< HEAD
            color: $color-text-white;
=======
            // color: $color-text-white;
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
        }
    }

    /* small */
    input.search-input__inner.search-input__inner--small {

    }
}
