ul.Topics {
  max-width: 10rem;
  > li {
    list-style-type: none;
  }
  > li > a.active {
    font-weight: bold;
    overflow: hidden;
  }
  .show-more {
    font-size: 0.9rem;
    font-weight: bold;
    color: $dark-gray;
  }
}

.c-sidebar__header {
  font-weight: bold;
  font-size: 1.125rem;
<<<<<<< HEAD
  margin: 0 0 1rem 0;
=======
  margin: 0 0 0.5rem 0;
>>>>>>> 1bc71ede40cbd3af6dd3c52b00dfd57e7324901b
}
